<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="[ '/home']"> <img src="assets/img/logo.png" height="60" width="60" class="d-inline-block align-top" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="[ '/home']">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" #employeeId>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="getEmployees(employeeId.value)">Search</button>
        </form>
    </div>
</nav>